.searchString{
    margin-top: 20px;
}

.results{
    margin-top: 20px;

}
.ratingsDiv{
    margin-top: 10px;
}
.resultPreview {
    margin-left: 10px;
}
md-card{
    padding:0px;

}

md-card-title{
    
    padding:20px;
    margin: 0px
}

md-card-content{
    padding:20px;

}

mat-icon{
margin-top: 10px;

}

@media screen and (max-device-width : 400px)
{
    .title{
        font-size: 18px;
    }
}
@media screen and (max-device-width : 768px)
{
    .pagination-wrapper {
        margin-left: -30px;
    }
}
@media screen and (min-device-width : 768px)
{
    .pagination-wrapper {
        margin-left: 30%;
    }
}

.wine-pagination /deep/ .ngx-pagination .current {
    background: #5f192c;
  }
md-chip, .wineLink {
    cursor: pointer;
}

