<div class="container wineDetail">
  <div class="loader" *ngIf="!wineDetail"></div>
  <div class="row" *ngIf="wineDetail">
    <md-card>
      <h1>{{wineDetail?.Name}}</h1>
      <div class="row">
        <div class="col-md-4 col-xs-4">
          Year : {{wineDetail?.Vintage}}
        </div>
        <div class="col-md-6 col-xs-8">
          Type : {{wineDetail?.Varietal.Name}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 col-xs-3">
          Rating :
        </div>
        <div class="ratingsDiv" [innerHtml]="wineDetail?.Ratings.HighestScore.toString() | starRating"></div>
      </div>
      <!--<h2>Images</h2>-->
      <br>
      <br>
      <div class="row imageRow">
        <div class="col-md-3 col-xs-12">
          <img class="wineImg" md-card-image src="{{wineDetail?.Labels[1].Url}}">
        </div>
      </div>
      <!-- Information that might come with premium API access -->
      <!-- <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Critics' reviews</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <md-chip-list>
            <md-chip color="primary" selected="true">WS 90</md-chip>
            <md-chip color="primary" selected="true">RP 88</md-chip>
            <md-chip color="primary" selected="true">CG 88</md-chip>
            <md-chip color="primary" selected="true">WE 92</md-chip>
          </md-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Best Cuisine pairings</h3>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <md-list>
              <h3 md-subheader>Red Meat Stews</h3>
              <md-list-item>
                <h4 md-line>Stew</h4>
              </md-list-item>
              <md-list-item>
                <h4 md-line>Other Stew</h4>
              </md-list-item>
              <h3 md-subheader>Fish – Fried</h3>
              <md-list-item>
                <h4 md-line>Tuna</h4>
              </md-list-item>
              <md-list-item>
                <h4 md-line>Snapper</h4>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Winyard information</h3>
          <p>{{wineDetail?.Vineyard.Name}}</p>
          <a href="{{wineDetail?.Vineyard.Url}}">Vineyard Info</a>
        </div>
      </div>
    </md-card>
    <br>
    <p (click)="testWine()">test</p>
  </div>
</div>