.wineDetail {
    margin-top: 20px;
}
h4 {
    text-indent: 30px;
}
@media screen and (min-width: 960px) {
img {
    max-height: 300px;
    max-width: 300px;
    }
}
@media screen and (min-width: 960px) {
.wineImg {
     margin: 0 auto;
    }
}