<div class="container wineDetail">
  <div class="row">
    <md-card>
      <h1>Station road Sauvignon Blanc</h1>
      <div class="row">
        <div class="col-md-4 col-xs-4">
          Year : 2016
        </div>
        <div class="col-md-6 col-xs-6">
          Type : Sauvignon Blanc
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1 col-xs-3">
          Rating :
        </div>
        <md-icon>star</md-icon>
        <md-icon>star</md-icon>
        <md-icon>star</md-icon>
        <md-icon>star</md-icon>
        <md-icon>star_half</md-icon>
      </div>
      <!--<h2>Images</h2>-->
      <br>
      <br>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
          <img md-card-image src="../../assets/wine_example.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Critics' reviews</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <md-chip-list>
            <md-chip color="primary" selected="true">WS 90</md-chip>
            <md-chip color="primary" selected="true">RP 88</md-chip>
            <md-chip color="primary" selected="true">CG 88</md-chip>
            <md-chip color="primary" selected="true">WE 92</md-chip>
          </md-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>Best Cuisine pairings</h3>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <md-list>
              <h3 md-subheader>Red Meat Stews</h3>
              <md-list-item>
                <h4 md-line>Stew</h4>
              </md-list-item>
              <md-list-item>
                <h4 md-line>Other Stew</h4>
              </md-list-item>
              <h3 md-subheader>Fish – Fried</h3>
              <md-list-item>
                <h4 md-line>Tuna</h4>
              </md-list-item>
              <md-list-item>
                <h4 md-line>Snapper</h4>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</div>